
.box-1, .box-2, .box-3, .box-4, .box-5 {
    background-image: url("img/awardImg.svg");
    height: auto;
    min-height: 200%;
    background-repeat:no-repeat;
}
.box-1{
    flex:1;
    order:1;
}
.box-2{
    flex:1;
    order:2;
}
.box-3{
    flex:1;
    order:3;

}
.box-4{
    flex:1;
    order:4;
}
.box-5{
    flex:1;
    order:5;
}


.container-1, .container-2, .awardText {
    padding: 5px;
    float: right;
    width: 80%;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container-1, .container-2 {
    margin-right: 20vh;
}

.container-1{
    position: flex;
    height: 30vh;
}